/* popup.css */

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light gray background */
    width: 400px; /* Width of the popup */
    height: 600px; /* Height of the popup */
  }
  
  #tabList {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #tabList li {
    cursor: pointer;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ccc; /* Lighter border color */
    border-radius: 5px;
    background-color: #ffffff; /* White background for list items */
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1); /* Subtle shadow for a bit of depth */
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 18px; /* Increased font size */
  }
  
  #tabList li:hover {
    background-color: #add8e6; /* Light blue background when hovering over list items */
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2); /* Slightly darker shadow when hovered */
  }
  